[buildout]
develop = .
parts = test checker coverage
versions = versions

[versions]
lxml = 2.3

[test]
recipe = zc.recipe.testrunner
eggs = z3c.layer.ready2go [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/layer/ready2go

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage
